.chat {
    background-color: darkgray;
    height: 100px;
    width: 100px;
    float: left; 
    margin-left: 50px;
}
.text {
    float: left;
    height: 700px;
}
.chat :hover {
    background-color: ivory;
}


